{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="text-uppercase">Bienvenue sur la TeuteuSphere</h1>
            <h2>CECI EST UNE PAGE A PROPOS</h2>
        </div>
        <div class="text-center">
            <p>
                C'était TRES laborieux
            </p>
        </div>
    </div>
{% endblock %}